body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    color: black;
    background-color: white;
    font-family: Fira Sans;
}
hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
}
nav {
    background-color: rgb(253, 252, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    z-index: 100;
    border-radius: 0 0 200px 200px;
}
name {
    font-size: 30px;
    align-items: center;
}
#add {
    font-size: 70px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    text-align: center;
    background: transparent;
    border: none;
    cursor: pointer;
    rotate: calc(90deg/2);
    transition: all 1s ease;
}
#add:hover {
    animation: cardani 1s ease;
    transform: scale(1.5) rotate(calc(270deg + (90deg/2)));
    content: '';
}

@keyframes cardani {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(2);
    }
    20% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.5) rotate(calc(270deg + (90deg/2)));
    }
    90% {
        transform: scale(2.5) rotate(calc(270deg + (90deg/2)));
    }
    100% {
        transform: scale(1.5) rotate(calc(270deg + (90deg/2)));
    }
}

#formcontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    z-index: 10;
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    background: white;
    border: 1px solid black;
    border-radius: 10px;
}
foot {
    width: 100%;
}
